@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
  font-size: 15px;
  font-weight: 700;
}
.alert-success {
  color: #155724;
  background: #d4edda;
  font-size: 15px;
  font-weight: 700;
}